@model Prueba2.Models.Usuario

<h2>Login</h2>

<form action="@Url.Action("Login", "Account")" method="post">
    <div>
        <label for="Correo">Correo:</label>
        <input type="text" name="Correo" required />
    </div>
    <div>
        <label for="Contraseña">Contraseña:</label>
        <input type="password" name="Contraseña" required />
    </div>
    <button type="submit">Iniciar sesión</button>
</form>
